root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,json,yml,ts,tsx,mts,mjs}]
max_line_length = 512
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true

[*.{md,txt}]
max_line_length = 128
indent_style = space
indent_size = 4
trim_trailing_whitespace = false