

$spacer: 4px;
@for $i from 0 through 12 {
  .mr-#{$i} {
    margin-right: $i * $spacer!important;
  }
  .ml-#{$i} {
    margin-left: $i * $spacer!important;;
  }
  .mt-#{$i} {
    margin-top: $i * $spacer!important;;
  }
  .mb-#{$i} {
    margin-bottom: $i * $spacer!important;;
  }

  .mx-#{$i} {
    margin-left: $i * $spacer!important;;
    margin-right: $i * $spacer!important;
  }
  .my-#{$i} {
    margin-top: $i * $spacer!important;;
    margin-bottom: $i * $spacer!important;
  }
  .ma-#{$i} {
    margin: $i * $spacer!important;;
  }

  .mr-n#{$i} {
    margin-right: $i * -$spacer!important;
  }
  .ml-n#{$i} {
    margin-left: $i * -$spacer!important;;
  }
  .mt-n#{$i} {
    margin-top: $i * -$spacer!important;;
  }
  .mb-n#{$i} {
    margin-bottom: $i * -$spacer!important;;
  }

  .mx-n#{$i} {
    margin-left: $i * -$spacer!important;;
    margin-right: $i * -$spacer!important;
  }
  .my-n#{$i} {
    margin-top: $i * -$spacer!important;;
    margin-bottom: $i * -$spacer!important;
  }
  .ma-n#{$i} {
    margin: $i * -$spacer!important;;
  }
}
